*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: aliceblue;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;

}

.form-group{
    display: flex;
    font-weight: 800;
    width: 100%;
    flex-direction: column;
    padding: 0 10px;
}

.form-group label{
    margin-bottom: .6rem;
    margin-top: .5rem;
}

.form-group input{
    margin-bottom: .6rem;
    
}

textarea{
    height: 100px;
    resize: none;
    margin-top: .6rem;
    font-size: 13px;
}


        

.form-group button{
    margin-top: .6rem;
    padding: 10px;
    border: none;
    background-color: red;
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    
}